In [1]:
import pyspark 
from pyspark.sql import SparkSession, DataFrame
from pyspark import SparkConf, SparkContext
import os
import re
import numpy as np
import time
from functools import reduce
import pandas as pd

Location_master = 'spark://linux:7077'
Location_master = 'local'
try:
    sparkSession.stop()
except:
    pass
sparkSession = SparkSession \
    .builder \
    .master(Location_master)\
    .appName("Process 2020") \
    .config("spark.some.config.option", "some-value") \
    .config("spark.executor.memory", "4g") \
    .config('spark.cores.max','4')\
    .getOrCreate()

In [2]:
data_dir = '../../../Data_process/Diemthi2021/'
data_all = sparkSession.read.csv(data_dir + '*/', header=True)

### Thay đổi kiểu dữ liệu các trường dữ liệu về đúng dạng của nó

In [3]:
import pyspark.sql.functions as F
import pyspark.sql.functions as f
from pyspark.sql.types import FloatType, StringType, IntegerType

In [4]:
data_all = data_all.drop('_c0')
data_all = data_all.withColumn('Toan', F.col('Toan').cast(FloatType()))
data_all = data_all.withColumn('Ngu_van', F.col('Ngu_van').cast(FloatType()))
data_all = data_all.withColumn('Ngoai_ngu', F.col('Ngoai_ngu').cast(FloatType()))
data_all = data_all.withColumn('Vat_ly', F.col('Vat_ly').cast(FloatType()))
data_all = data_all.withColumn('Hoa_hoc', F.col('Hoa_hoc').cast(FloatType()))
data_all = data_all.withColumn('Sinh_hoc', F.col('Sinh_hoc').cast(FloatType()))
data_all = data_all.withColumn('Lich_su', F.col('Lich_su').cast(FloatType()))
data_all = data_all.withColumn('Dia_ly', F.col('Dia_ly').cast(FloatType()))
data_all = data_all.withColumn('GDCD', F.col('GDCD').cast(FloatType()))

data_all.printSchema()

root
 |-- SBD: string (nullable = true)
 |-- Cum_thi: string (nullable = true)
 |-- Toan: float (nullable = true)
 |-- Ngu_van: float (nullable = true)
 |-- Ngoai_ngu: float (nullable = true)
 |-- Vat_ly: float (nullable = true)
 |-- Hoa_hoc: float (nullable = true)
 |-- Sinh_hoc: float (nullable = true)
 |-- KHTN: string (nullable = true)
 |-- Lich_su: float (nullable = true)
 |-- Dia_ly: float (nullable = true)
 |-- GDCD: float (nullable = true)
 |-- KHXH: string (nullable = true)

In [5]:
# print(data_all.count())
# data_all = data_all.drop_duplicates()
# print(data_all.count())

In [6]:
from pyspark.sql.window import Window

data_all = data_all.withColumn('row_num', f.row_number().over(
    Window.partitionBy('SBD').orderBy('SBD')
))

924344

In [13]:
data_all = data_all.filter('row_num == 1')

In [7]:
data_dup = data_all.filter('row_num = 2').withColumn('raw', f.substring(f.col('SBD'),0,5))
data_dup = data_dup.groupBy('raw').count().toPandas()

In [8]:
data_dup

       raw  count
0    49003     92
1    30005    100
2    31005    100
3    08006    100
4    49013    100
..     ...    ...
135  10006     99
136  42004    100
137  04005    100
138  64004    100
139  01018    100

[140 rows x 2 columns]

In [9]:
# list_data_miss = []
# list_dup = list(data_dup['raw'].values)
# for dup in list_dup:
#     for i in range(0,10):
#         pattern = dup + str(i)
#         if(data_all.filter("SBD like '{0}%'".format(pattern)).count() == 0):
#             list_data_miss.append(pattern)
# list_data_miss

In [15]:
1+1

2

In [10]:
data_all.filter("SBD like '360049%'").count()

0

In [11]:
# data_all = data_all.drop("row_num")
# data_all = data_all.orderBy("Ma_cum", "SBD")
# data_all.repartition(1).write.format("com.databricks.spark.csv").option("header", "true").save("mydata.csv")

In [12]:
# sparkSession.stop()